# Listee Files
.pytest_cache
cov_test
.idea
*.DS_Store

# Byte-compiles / optimized
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.python
share/python-wheels/
MANIFEST

# PyInstaller
# Files that are writted by a python script from a template
# before PyInstaller builds the exe, as it inject data and other information in it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Jupiter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# VS code
.vscode